<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="camera" value="Integrated Webcam"/>
    <add key="width" value="1280"/>
    <add key="height" value="720"/>
    <add key="fps" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>